### 1) Function Application and Mapping

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list("bde"), index=["Utah", "Ohio", "Texas", "Oregon"])
frame

Método apply

La función pasada para aplicar no necesita devolver un valor escalar; también puede devolver una Serie
con múltiples valores:

También se pueden usar funciones de Python basadas en elementos. Método applymap.

La función asociada con applymap() se aplica a todos los elementos del DataFrame dado y, por lo tanto, el método applymap() se define solo para DataFrames. De manera similar, la función asociada con el método apply() se puede aplicar a todos los elementos de DataFrame o Series, y por lo tanto, el método apply() se define para los objetos Series y DataFrame. El método map() solo se puede definir para objetos Series en Pandas.

**Ejercicios prácticos para aplicar funciones a DF:**

1. Dado el DataFrame, encuentre la forma más óptima de calcular la raíz de la columna experiencia (Exp) guardando el resultado en una nueva columna identificada con "Sq Exp".

In [ ]:
data = {"Exp":[4.4,1.0,2.2,5.5,6.9,10.2,1.1],
       "Educ":[1,1,2,3,4,2,3],
       "W":[100,200,130,120,120,400,200]}

data = pd.DataFrame(data)
data

2. Modifique el formato de todos los datos del DF para que se encuentres redondeados sin parte decimal; por ejemplo, si aparece el número 4.4 debe quedar 4, si aparece 5.5 debe quedar 6.

3. Empleando la función apply cree una función NO anónima (sin emplear lambda), que asigne en una nueva columna identificada como ("Nivel Academico"):
- Si el valor en la columna Educ corresponde a 1 -> Primaria
- Si el valor en la columna Educ corresponde a 2 -> Secundaria
- Si el valor en la columna Educ corresponde a 3 -> Pregrado
- Si el valor en la columna Educ corresponde a 4 -> Posgrado

Nota: es posible realizar la función de asignación en dos líneas sin emplear condicional if ¿cómo lo lograría?

### 2.) Datos faltantes

**None**

In [ ]:
vals1 = np.array([1, None, 3, 4])
vals1

Cuando trabajamos con objetos de python (dtype = object)  cualquier operación en los datos se realizará en el nivel de Python, con mucha más sobrecarga que las operaciones típicamente rápidas que se ven para las matrices con tipos nativos:

In [ ]:
for dtype in ["_______", "___"]:
    print("dtype =", _____)
    %timeit np.arange(1E6, dtype=_____).sum()
    print()

El uso de objetos de Python en una matriz también significa que si realiza agregaciones como sum() o min() en una matriz con un valor None, generalmente obtendrá un error:

**NaN**

In [ ]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

Debe tener en cuenta que NaN es un poco como un virus de datos: infecta cualquier otro objeto que toca.

Tenga en cuenta que esto significa que los agregados sobre los valores están bien definidos (es decir, no dan como resultado un error) pero no siempre son útiles:

In [ ]:
vals2._____, vals2._____, vals2._____

NaN y None tienen su lugar, y Pandas está diseñado para manejarlos casi indistintamente, convirtiendo entre ellos cuando corresponda:

In [ ]:
pd.Series([1, np.nan, 2, None])

Por ejemplo, si establecemos un valor en una matriz de enteros en np.nan, se convertirá automáticamente a tipo float para acomodar el NA:

In [ ]:
x = pd._____(range(2), _____=int)
x

#### Detectar valores nulos

In [ ]:
data = pd.Series([1, np.nan, "hello", None])
data._____()

#### Borrar valores nulos

In [ ]:
df = pd.DataFrame([[1, np.nan, 2], [2, 3, 5], [np.nan, 4, 6]])
df

No podemos eliminar valores individuales de un DataFrame; solo podemos borrar filas completas o columnas completas.

Es posible que le interese colocar filas o columnas con todos los valores NA, o la mayoría de los valores NA.

#### Relleno de valores nulos

A veces, en lugar de eliminar los valores de NA, prefiere reemplazarlos con un valor válido.

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list("abcde"))
data

In [ ]:
data.__________(0)

Para DataFrames, las opciones son similares:

In [ ]:
df

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))
df

In [ ]:
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan

df

#### Ejercicios de Valores Nulos

1.) Reemplace los valores de la siguiente serie con el promedio. Tenga en cuenta que, normalmente es esto lo que ocurre.

In [ ]:
data = pd.Series([1., np.nan, 3.5, np.nan, 7])
data

2.) Seleccione únicamente aquellas filas que tengan 2 o más datos no nulos.

In [ ]:
df = pd.DataFrame({"A":[1,2,np.nan],
                  "B":[5,np.nan,np.nan],
                  "C":[1,2,3]})
df

### 3.) Datos duplicados

In [ ]:
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"], "k2": [1, 1, 2, 3, 3, 4, 4]})
data

#### Ejercicio datos duplicados

In [ ]:
data = {"id": [1, 2, 3, 4, 5, 6, 7, 7],
        "first_name": ["Sigrid", "Kennedy", "Theodoric", "Sigrid", "Kennedy", "Beatrix", "Olimpia", "Olimpia"],
        "last_name": ["Mannock", "Donnell", "Rivers", "Mannock", "Donnell", "Parlett", "Guenther", "Guenther"],
        "age": [27, 31, 36, 27, 53, 48, 36, 36],
        "amount": [7.17, 1.90, 1.11, 7.17, 1.41, 6.69, 4.62, 4.62]}
df = pd.DataFrame(data, columns = ["id", "first_name", "last_name", "age", "amount"])
df

1.) ¿Cuántos registros se encuentran totalmente duplicados?

2) Elimine los registros duplicados